.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--offset) * 4.1);
}
@media screen and (max-width: 800px) {
  .control {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 600px) {
  .control {
    padding: 0px 0px;
  }
}

.control-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 410px) {
  .control-list {
    padding: 10px 15px;
  }
}
.control-list__item {
  border-bottom: 1px solid black;
}
.control-list__item--active {
  border-bottom: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.control-list__link {
  color: var(--c1);
  border: none;
  background: transparent;
  font-size: 1em;
  font-weight: var(--fwB);
  font-family: var(--ff);
  padding: 10px 50px;
}
@media screen and (max-width: 1000px) {
  .control-list__link {
    padding: 10px 30px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 760px) {
  .control-list__link {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 640px) {
  .control-list__link {
    padding: 10px 15px;
    font-size: 0.86em;
  }
}
@media screen and (max-width: 500px) {
  .control-list__link {
    padding: 10px 10px;
    font-size: 0.7em;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: var(--offset-l) 150px;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .content {
    padding: calc(var(--offset) * 3.5);
  }
}
@media screen and (max-width: 800px) {
  .content {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.hidden-tab-content {
  display: none;
}

@media screen and (max-width: 1440px) {
  .content-left__img {
    height: 500px;
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .content-left__img {
    height: 400px;
    width: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .content-left__img {
    height: 350px;
    width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .content-left__img {
    height: 300px;
    width: 250px;
  }
}

.content-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: var(--offset) 150px;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  .content-right {
    padding: var(--offset);
  }
}
@media screen and (max-width: 600px) {
  .content-right {
    width: 100%;
  }
}
.content-right__title {
  font-size: 4em;
  line-height: 1.2;
  font-weight: var(--fwB);
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 1600px) {
  .content-right__title {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 1440px) {
  .content-right__title {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media screen and (max-width: 1200px) {
  .content-right__title {
    font-size: 1.7em;
    line-height: 1;
  }
}
@media screen and (max-width: 1000px) {
  .content-right__title {
    font-size: 1.6em;
    line-height: 1.2;
  }
}
@media screen and (max-width: 880px) {
  .content-right__title {
    font-size: 1.4em;
    line-height: 1.1;
  }
}
@media screen and (max-width: 760px) {
  .content-right__title {
    font-size: 1.2em;
    line-height: 1.1;
  }
}
@media screen and (max-width: 600px) {
  .content-right__title {
    font-size: 1.4em;
    line-height: 1.2;
    text-align: center;
  }
}
.content-right__text {
  font-size: 1.13em;
  line-height: 1.7;
  font-weight: var(--fwR);
  color: #191919;
}
@media screen and (max-width: 1600px) {
  .content-right__text {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1440px) {
  .content-right__text {
    font-size: 1em;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1200px) {
  .content-right__text {
    font-size: 0.9em;
    line-height: 1.2;
  }
}
@media screen and (max-width: 1000px) {
  .content-right__text {
    font-size: 0.8em;
    line-height: 1.1;
  }
}
@media screen and (max-width: 880px) {
  .content-right__text {
    font-size: 0.8em;
    line-height: 1.3;
  }
}
@media screen and (max-width: 760px) {
  .content-right__text {
    font-size: 0.7em;
    line-height: 1.3;
  }
}
@media screen and (max-width: 600px) {
  .content-right__text {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
  }
}/*# sourceMappingURL=tabs.css.map */