<div class="battery">
  <div class="battery-left">
    <h2 class="battery-right__title">
      Up to 20 hours <br />
      battery life
    </h2>
    <span class="battery-right__text">
      Enjoy up to 20 hours of listening, enough time to pore <br />
      through this entire playlist. So you can keep the music — or <br />
      the quiet — going all day long. And when it finally runs down, <br />
      a quick 15-minute charge gives you another 2.5 hours.
    </span>
  </div>
  <div class="battery-right">
    <img
      class="battery-left__img"
      height="600"
      width="700"
      src="/img/image/man 25.png"
      alt="мужчина"
    />
  </div>
</div>
<div class="battery-btn">
  <span class="battery-view__text">Related producs</span>
  <a class="battery-view__link" href="#!"> Show all </a>
</div>
