<footer class="footer">
    <a class="footer-logo logo" href="#!">
      <svg width="165" height="20" class="footer-svg">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </a>
  <div class="footer-row">
    <ul class="footer-row__list">
      <li class="footer-row__item">
        <a class="footer-row__link" href="">Headphones</a>
      </li>
      <li class="footer-row__item">
        <a class="footer-row__link" href="">Speakers</a>
      </li>
      <li class="footer-row__item">
        <a class="footer-row__link" href="">Audio sunglasses</a>
      </li>
      <li class="footer-row__item">
        <a class="footer-row__link" href="">Support</a>
      </li>
    </ul>
  </div>
</footer>
