<header class="header active">
  <a class="header-logo logo" href="#!">
    <svg width="165" height="20" class="header-svg">
      <use xlink:href="#icon-logo"></use>
    </svg>
  </a>
  <div class="header-row">
    <ul class="header-row__list">
      <li class="header-row__item">
        <a class="header-row__link" href="">Headphones</a>
      </li>
      <li class="header-row__item">
        <a class="header-row__link" href="">Speakers</a>
      </li>
      <li class="header-row__item">
        <a class="header-row__link" href="">Audio sunglasses</a>
      </li>
      <li class="header-row__item">
        <a class="header-row__link" href="">Support</a>
      </li>
    </ul>
  </div>
  <div class="header-right">
    <a class="header-btn" href="#!" aria-label="Корзина">
      <svg class="header-btn__icon" width="25" height="25">
        <use xlink:href="#icon-cart"></use>
      </svg>
    </a>
    <a class="header-btn" href="#!" aria-label="Поиск">
      <svg class="header-btn__icon" width="25" height="25">
        <use xlink:href="#icon-search"></use>
      </svg>
    </a>
    <details class="dropdown">
      <summary class="dropdown-summary">
        <div class="dropdown-summary__photo">
          <img
            height="35"
            width="35"
            src="./img/image/Ellipse 10.png"
            alt="Профиль"
          />
        </div>
        <svg class="dropdown-summary__arrow" height="25" width="25">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </summary>
      <div class="dropdown-inner"></div>
    </details>
  </div>
  <button class="burger-button" type="button">
    <i class="menuIcon material-icons">
      <svg height="25px" width="25px" class="burger-svg">
        <use xlink:href="#icon-burgermenu"></use>
      </svg>
    </i> 
  </button>
</header>

<div class="modal-overlay ">
  <div class="modal">
    <button class="modal-btn modal-btn__close">
      <svg height="25px" width="25px" class="modal-svg">
        <use xlink:href#="icon-close"></use>
      </svg>
    </button>
    <a class="modal-logo logo" href="#!">
      <svg width="165" height="20" class="header-svg">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </a>
    <div class="modal-row">
      <ul class="modal-row__list">
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Headphones</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Speakers</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Audio sunglasses</a>
        </li>
        <li class="modal-row__item">
          <a class="modal-row__link" href="">Support</a>
        </li>
      </ul>
    </div>
    <div class="modal-right">
      <a class="modal-btn" href="#!" aria-label="Корзина">
        <svg class="modal-btn__icon" width="25" height="25">
          <use xlink:href="#icon-cart"></use>
        </svg>
      </a>
      <a class="modal-btn" href="#!" aria-label="Поиск">
        <svg class="modal-btn__icon" width="25" height="25">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>
      <details class="details">
        <summary class="details-summary">
          <div class="details-summary__photo">
            <img
              height="35"
              width="35"
              src="./img/image/Ellipse 10.png"
              alt="Профиль"
            />
          </div>
          <svg class="details-summary__arrow" height="25" width="25">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </summary>
        <div class="details-inner"></div>
      </details>
    </div>
  </div>
</div>
