<section class="headphones">
  <div class="headphones-block">
    <div class="headphones-left">
      <h2 class="headphones-left__title">Premium design</h2>
      <span class="headphones-left__text"
        >When you want to take your music anywhere, you need <br />
        headphones built to keep up. With impact-resistant materials, <br />
        glass-filled nylon, and corrosion-resistant stainless steel, <br />
        they’re engineered to survive life on the go.
      </span>
    </div>
    <div class="headphones-right">
      <svg>
        <use xlink:href="#icon-leftline"></use>
      </svg>
      <img
        class="headphones-right__img"
        src="/img/image/bose_7.png"
        alt="dsada"
      />
      <svg>
        <use xlink:href="#icon-rightline"></use>
      </svg>
    </div>
  </div>
</section>
