<section class="section">
  <div class="section-products">
    <div class="section-box">
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/Bitmap.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >QuietComfort 35 wireless headphones II</span
        >
        <span class="section-box__price">$449.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap2.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >SoundLink® aroundear wireless headphones</span
        >
        <span class="section-box__price">$269.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap3.png"
          alt="Наушники"
        />
        <span class="section-box__text">Bose on-ear wireless headphones</span>
        <span class="section-box__price">$209.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap4.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >Bose Noise Cancelling Headphones 700</span
        >
        <span class="section-box__price">Coming Soon</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/Bitmap.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >QuietComfort 35 wireless headphones II</span
        >
        <span class="section-box__price">$449.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap2.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >SoundLink® aroundear wireless headphones</span
        >
        <span class="section-box__price">$269.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap3.png"
          alt="Наушники"
        />
        <span class="section-box__text">Bose on-ear wireless headphones</span>
        <span class="section-box__price">$209.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap4.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >Bose Noise Cancelling Headphones 700</span
        >
        <span class="section-box__price">Coming Soon</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/Bitmap.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >QuietComfort 35 wireless headphones II</span
        >
        <span class="section-box__price">$449.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap2.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >SoundLink® aroundear wireless headphones</span
        >
        <span class="section-box__price">$269.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap3.png"
          alt="Наушники"
        />
        <span class="section-box__text">Bose on-ear wireless headphones</span>
        <span class="section-box__price">$209.99</span>
      </div>
      <div class="section-box__content">
        <img
          class="section-box__img"
          src="/img/image/bitmap4.png"
          alt="Наушники"
        />
        <span class="section-box__text"
          >Bose Noise Cancelling Headphones 700</span
        >
        <span class="section-box__price">Coming Soon</span>
      </div>
    </div>
  </div>
</section>
