<section class="registration">
  <div class="account">
    <div class="account-left">
      <img
        class="account-left__img"
        src="/img/image/woman1.png"
        alt="Девушка"
      />
    </div>
    <div class="account-right">
      <h2 class="account-right__title title title--m"
        >Being first has its <br/>
        perks
      </h2>
      <p class="account-right__text"
        >Sign up to get more information about Bose,<br />
        exclusive first looks at promotions, <br />
        new products and more.
      </p>
      <div class="login">
        <label class="login-label">
          <input
            class="login-label__input"
            type="email"
            placeholder="Your e-mail here"
          />
        </label>
        <a class="login-link" href="#!">Sign up</a>
      </div>
    </div>
  </div>
</section>
