<section class="slideshow">
  <div class="slideshow-products">
    <div class="slideshow-slider">
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_1.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_2.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_3.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_4.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_5.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_1.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_2.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_3.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_4.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_5.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_1.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_2.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_3.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_4.png"
            alt="Агрегаты"
          />
        </a>
      </div>
      <div class="slideshow-aggregate">
        <a href="#!">
          <img
            class="slideshow-aggregate__img"
            src="./img/image/media_5.png"
            alt="Агрегаты"
          />
        </a>
      </div>
    </div>
  </div>
  <button class="slideshow-button__prev" type="button">
    <svg height="64" width="34">
      <use xlink:href="#icon-Arrowleft"></use>
    </svg>
  </button>
  <button class="slideshow-button__next" type="button">
    <svg height="64" width="34">
      <use xlink:href="#icon-Arrowright"></use>
    </svg>
  </button>
</section>