<section class="tabs">
  <div class="control">
    <ul class="control-list">
      <li class="control-list__item control-list__item--active">
        <button class="control-list__link" data-tab-opener="tab-1">
          Overview
        </button>
      </li>
      <li class="control-list__item">
        <button class="control-list__link" data-tab-opener="tab-2">
          Specs
        </button>
      </li>
      <li class="control-list__item">
        <button class="control-list__link" data-tab-opener="tab-3">
          Reviews
        </button>
      </li>
      <li class="control-list__item">
        <button class="control-list__link" data-tab-opener="tab-4">
          Accessories
        </button>
      </li>
      <li class="control-list__item">
        <button class="control-list__link" data-tab-opener="tab-5">
          Support
        </button>
      </li>
    </ul>
  </div>
  <div class="content" data-tab="tab-1">
    <div class="content-left">
      <img
        height="600"
        width="452"
        class="content-left__img"
        src="/img/image/woman.png"
        alt="Девушка в Наушниках"
      />
    </div>
    <div class="content-right">
      <h2 class="content-right__title title title--m">
        Perfect sound <br />
        immersive world
      </h2>
      <p class="content-right__text">
        QuietComfort 35 wireless headphones II are engineered with renowned
        noise cancellation. With the Google Assistant and Amazon Alexa built-in,
        you have instant access to millions of songs, playlists and more—hands
        free.
      </p>
    </div>
  </div>
  <div class="content hidden-tab-content" data-tab="tab-2">
    <div class="content-left">
      <img
        height="600"
        width="452"
        class="content-left__img"
        src="/img/image/woman.png"
        alt="Девушка в Наушниках"
      />
    </div>
    <div class="content-right">
      <h2 class="content-right__title title title--m">
        Perfect sound <br />
        immersive world
      </h2>
      <p class="content-right__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
        necessitatibus adipisci! Debitis, porro omnis, tempora dignissimos
        minima quas sed incidunt sapiente nihil provident eaque! Tempora quidem
        deleniti laborum voluptas tenetur?
      </p>
    </div>
  </div>
  <div class="content hidden-tab-content" data-tab="tab-3">
    <div class="content-left">
      <img
        height="600"
        width="452"
        class="content-left__img"
        src="/img/image/woman.png"
        alt="Девушка в Наушниках"
      />
    </div>
    <div class="content-right">
      <h2 class="content-right__title title title--m">
        Perfect sound <br />
        immersive world
      </h2>
      <p class="content-right__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione cum
        temporibus porro atque? Dolor, doloremque.
      </p>
    </div>
  </div>
  <div class="content hidden-tab-content" data-tab="tab-4">
    <div class="content-left">
      <img
        height="600"
        width="452"
        class="content-left__img"
        src="/img/image/woman.png"
        alt="Девушка в Наушниках"
      />
    </div>
    <div class="content-right">
      <h2 class="content-right__title title title--m">
        Perfect sound <br />
        immersive world
      </h2>
      <p class="content-right__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolores
        possimus fugit odio explicabo? Temporibus et sed praesentium pariatur
        laborum!
      </p>
    </div>
  </div>
  <div class="content hidden-tab-content" data-tab="tab-5">
    <div class="content-left">
      <img
        height="600"
        width="452" 
        class="content-left__img"
        src="/img/image/woman.png"
        alt="Девушка в Наушниках"
      />
    </div>
    <div class="content-right">
      <h2 class="content-right__title title title--m">
        Perfect sound <br />
        immersive world
      </h2>
      <p class="content-right__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum unde
        quis a aliquam sequi autem, ex perferendis mollitia accusamus beatae
        doloribus culpa magnam vel. Molestias!
      </p>
    </div>
  </div>
</section>
